*{
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #c0b9dd;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 6vh;
}
.terminal {
    width: 70vw; /* Adjust the width to your preference */
    padding: 10px;
    background-color: #2E2E33; /* Terminal border color */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
  }

  .command-line {
    padding: 5px;
  }

  .input-line {
    color: #FFD700; /* Input text color */
  }

  .output-line {
    color: #00FF00; /* Output text color */
  }
  .output-line::after{
    content: "■";
    animation: blink 1.2s infinite;
 }
 @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .error-line {
    color: #FF0000; /* Error text color */
  }
.section-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0 10px 0;
    height: 10vh;
    width: 90vw;

}
h2{
    font-size: 3vh;
    margin-top: 0    ;
}
.section-icon{
    fill:#383B53;
    height: 5vh;
    margin-right: 1vh;
    padding: 0px;
}
.list-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center ;
    margin-top: 10px;
}
.list-item{
    border-bottom: 1px solid #383b5317;
    padding-left: 20px;
    margin-bottom: 10px;
    width: 48vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
}
.list-item-icon img{
    height: 60%;
}
.list-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-basis: 10vw;
}
.list-item-description{
    padding-left: 15px;
    flex-grow: 2;
    /*margin-bottom: 10px;*/
}
.jobexplist{
    height: 80vh;
    flex-direction: column;
    justify-content: space-around;
}
.jobexpitem{
    width: 96vw;
    height: 35vh;
}
#top-navigation{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background-color: #383B53;
}
#top-navigation a{
    padding: 20px 20px 5px 20px;
    text-decoration: none;
    color: #c0b9dd;
}
#top-navigation a:hover{
    background-color: rgba(255,255,255,0.1);
}
#portfolio{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #383b53;
}
#portfolio section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-align: start;
}

#education, #experience{
    background-color: #78c091;
    color: #383B53;
}
#skills{
    background-color: #C0B9DD;
    color: #383B53;
}

@media only screen and (max-width: 1000px) {
    h2{
        font-size: 15px;
    }
    p, li{
        font-size: 12px;
    }
    .list-container{
        flex-direction: column;
    }
    .list-item{
        width: 96vw;
        height: 10vh;
        justify-content: flex-start;
    }
    .list-item-icon img{
        height: 35%;
    }
    .jobexpitem{
        width: 96vw;
        height: 25vh;
    }.section-icon{
        height: 2.5vh;
    }
    #portfolio section{
        padding-bottom: 10vh;
    }
  }